<%- include("partials/header") %>

<div class="container">
    <header class="jumbotron landingHero">
       <div class="container">
          <h1><i class="fa fa-book" aria-hidden="true">  </i> Landing Page</h1>
          <p>Welcome to Study Spot. Let's Find th perfect study spot for you!</p>
          <p>
             <a class="btn btn-lg btn-primary" href="/spots">All Study Spots</a>
          </p>
       </div>
    </header>


<%- include("partials/footer") %>